{% extends 'base.html' %}
{% load static %}

{% block head %}




{% endblock %}

{% block body %}



        <div class="section-gap">
            <div id="map" style="width:inherit; height:400px" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.7220113514686!2d73.03255364298819!3d26.270684148864543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x961ef6eae3641fc9!2sComputer+Science+Department+%2C+MBM+engineering+College!5e0!3m2!1sen!2sin!4v1532760295566" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>


			<!-- Start Generic Area -->
			<section class="about-generic-area section-gap">
				<div class="container border-top-generic">
					<h3 class="about-title mb-30">Reach Us</h3>
					<div class="row">

						<div class="col-lg-12">
							<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
						</div>
						<div class="col-lg-12">
							<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
						</div>

					</div>
				</div>
			</section>
			<!-- End Generic Start -->
         <!--script type="text/javascript" src="{% static 'home/js/map.js' %}"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAkO6BmyJTLXW9wE7HUfEVLlhYaCp1dv4&callback=myMap"></script>
-->




{% endblock %}

