{% extends 'user/base.html' %}
{% block title %} Add Project {% endblock %}
{% block body %}
<div class="pro-main" style="margin-left:350px;">
  <h3>Add a New Project Idea</h3>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="" method="post" enctype="multipart/form-data" class="center">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label>{{ field.label_tag }}</label>
            <div class="col-sm-20">{{ field }}</div>
        </div>
    {% endfor %}
    <div class="form-group">
          <!--  <button type="submit" class="btn btn-success"  onclick="return confirm('Are you sure you want to submit?');">Submit</button>-->
        <form action="{% url 'project:index' %}" method="post"  style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success"onclick="return confirm('Are you sure you want to submit?');">Submit</button>
        </form>
    </div>
</form>
</div>
{% endblock %}